@model IEnumerable<AdminAPIAdmiss.Models.ApplicationUser>

@{
    ViewBag.Title = "Создание заявки";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>

                @Html.DisplayFor(modelItem => item.CompanyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Изменить","Edit", new { id = item.Id }) |
                @Html.ActionLink("Детали", "Detail", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "ADelete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
